.App {
  text-align: center;
}

.main-bg {
  height: 400px;
  background-image: url('../public/img/bg.png');
  background-size: cover;
  background-position: center;
}

.input {
  margin-bottom: 12px;
  width: 120px;
  height: 38px;
  padding: 0 8px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
}

/* 애니메이션 동작 */
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.7s;
}